<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DatabaseType" value="Embedded"/> <!-- Hosted or Embedded -->
    <add key="HostedConnectionPath" value="http://localhost:8080"/>
    <add key="EmbeddedConnectionPath" value="C:\Users\krobins\VidFilter\trunk\data"/>
    <add key="ColorspaceFilePath" value="C:\Users\krobins\VidFilter\trunk\Colorspaces.xml"/>
    <add key="Debug" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
